<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liuzq.dmego.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="滑稽与狗蛋"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ativity.MainActivity"
            android:label="滑稽与狗蛋"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ativity.aboutActivity"
                  android:label="关于">
        </activity>
    </application>

</manifest>